<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to Personal Trainer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2><a href="#/blog">Vist Our Blog</a></h2>
            <p>Check out what we've been up to! Our trainers are always honing their skills and eagar to share their knowledge with you.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2><a href="#/shop">Browse Our Inventory</a></h2>
            <p>We not only provide the finest in personal fitness services, we've narrowed down the best equipment for to help you acheieve your fitness dreams.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2><a href="#/pricing">Meet Your Next Fitness Guru</a></h2>
            <p>We have a number of options to help customize your fitness experience and match you with your perfect trainer.</p>
        </div>
    </div>
</div>