<div class="table-responsive">
    <table class="table">
        <tr>
            <h3 id="calendar-header">Weekly Exercise and Meal Schedule</h3>
            <td id="top-left-cell"></td>
            <td class="active">Monday</td>
            <td class="success">Tuesday</td>
            <td class="warning">Wednesday</td>
            <td class="danger">Thursday</td>
            <td class="info">Friday</td>
            <td class="active">Saturday</td>
            <td class="success">Sunday</td>
        </tr>
        <tr>
            <h3></h3>
            <td>Exercises</td>
            <td class="active">Chest</td>
            <td class="success">Arms</td>
            <td class="warning">Back</td>
            <td class="danger">Shoulders</td>
            <td class="info">Legs</td>
            <td class="active">Cardio</td>
            <td class="success">Rest/Stretch</td>
        </tr>
        <tr>
            <h3></h3>
            <td>Meals</td>
            <td class="active">Meal Day 1</td>
            <td class="success">Meal Day 2</td>
            <td class="warning">Meal Day 3</td>
            <td class="danger">Meal Day 4</td>
            <td class="info">Meal Day 5</td>
            <td class="active">Meal Day 6</td>
            <td class="success">Meal Day 7</td>
        </tr>
    </table>
</div>