<nav class=" nav navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="navbar-brand" href="#/home">
                        <img id="navbar-logo" src="https://s-media-cache-ak0.pinimg.com/736x/56/a5/6a/56a56a4b9a358a589822298b15a859ee.jpg">
                    </a>
                </li>
                <li class="nav-item"><a href="#/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#/shop" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="#/pricing" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#/about" class="nav-link">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="UserService.isAuthenticated()"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-hide="UserService.isAuthenticated()"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
                <li ng-show="UserService.isAuthenticated()"><a href="#/logout">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a ng-show="UserService.isAuthenticated()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/calendar">Fitness Calendar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</nav>