<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Plans & Pricing</h1>
            <h3>We have several plans to help you get exactly what you need to fulfill your fitness goals, no more, no less</h3>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Diet and Nutrition Assitance or Customized Workouts
                </div>
                <div class="panel-body">
                    <p>Get personalized workouts or meal plans that best suit you and the new you that is yet to come</p>
                    <button class="btn btn-primary" ng-click="signUp(0)">Sign Up!</button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Diet and Nutrition Assitance and Customized Workouts
                </div>
                <div class="panel-body">
                    <p>Get the best of our trainers' fitness and nutrition expertise with both diet and exercise plans that are catered to you</p>
                    <button class="btn btn-primary" ng-click="signUp(1)">Sign Up!</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>One-on-One Personal Training Plans</h3>
                <h5>All our training plans include both personalized meal plans and workouts.</h5>
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            1 Month Personal Training
                        </div>
                        <div class="panel-body">
                            <p>Put us to the test! 1 month of one-on-one training sessions is all we need to help you start seeing real results</p>
                            <button class="btn btn-primary" ng-click="signUp(2)">Sign Up!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            3 Month Personal Training
                        </div>
                        <div class="panel-body ">
                            <p>This plan is our best value! Give us 12 weeks, and we can show you the beginnings of the best body of your life</p>
                        <button class="btn btn-primary" ng-click="signUp(3)">Sign Up!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            6 Month Personal Training
                        </div>
                        <div class="panel-body">
                            <p>Keep us around and we'll keep you looking your best! This plan utilizes both our 3-month accelerated fitness schedule and continued training get that chiseled look you've always wanted</p>
                            <button class="btn btn-primary" ng-click="signUp(4)">Sign Up!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>